header {
    background-color: $color-grey-light-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    .logo {
        width: 15rem;
        margin-left: 5rem;
    }

    .avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}

.search {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__input {
        width: 95%;
        border: none;
        border-radius: 50px;
        padding: .7rem 2rem;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        transition: all .2s;
        margin-right: -3rem;
        // background-color: ;

        &:focus {
            outline: none;
            // width: 100%
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            font-size: 1.6rem;
            letter-spacing: 2px;
            color: $color-grey-light-4;
        }
    }

    &__button {
        border: none;
        background-color: #fff;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        font-size: 1.5rem;
        color: $color-grey-dark-3
    }

    &__result {
        position: absolute;
        top: 4.2rem;
        background-color: lighten(#faeaea, 3%);
        border-radius: 3px;
        width: 90%;
        padding: 1.2rem;
        z-index: 10;

        &__btn {
            width: 100%;
            border: none;
            background-color: transparent;
        }
    }
}

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 5rem;
    font-size: 1.6rem;
    position: relative;

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        gap: 3.2rem;
        align-items: center;
        

        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__link:link, &__link:visited {
        align-self: stretch;
        display: inline-block;
        text-decoration: none;
        color: $color-grey-dark-1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
    }

    &__icon {
        font-size: 2.2rem;
        color: $color-primary;
    }

    
    &__notification {
        background-color: #fff;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 3rem;
        top: .5rem;
    }
}

// .dropdown-toggle::after {
//     display: block;
//     position: absolute;
//     top: 50%;
//     right: 20px;
//     transform: translateY(-50%);
// }

.dropdown-toggle {
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dropdown:focus, .dropdown:active {
    outline: transparent;
}

.dropdown-menu {
    font-size: inherit;
}

