header {
    background-color: $color-grey-light-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    .logo {
        width: 15rem;
        margin-left: 5rem;
    }

    .avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}

.search {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        width: 90%;
        border: none;
        border-radius: 50px;
        padding: .7rem 2rem;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        transition: all .2s;
        margin-right: -3rem;
        // background-color: ;

        &:focus {
            outline: none;
            width: 100%
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            font-size: 1.6rem;
            color: $color-grey-light-4;
        }
    }

    &__button {
        border: none;
        background-color: #fff;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        font-size: 1.5rem;
        color: $color-grey-dark-3
    }
}

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 5rem;
    font-size: 1.6rem;
    position: relative;

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        gap: 3.2rem;
        align-items: center;
        

        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
        }

        // & > *:hover {
        //     background-color: $color-grey-dark-3;
        // }
    }

    &__link:link, &__link:visited {
        align-self: stretch;
        display: inline-block;
        text-decoration: none;
        color: $color-grey-dark-1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
    }

    &__icon {
        font-size: 2.2rem;
        color: $color-primary;
    }

    
    &__notification {
        background-color: #fff;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 3rem;
        top: .5rem;
    }
}

// .dropdown-toggle::after {
//     display: block;
//     position: absolute;
//     top: 50%;
//     right: 20px;
//     transform: translateY(-50%);
// }

.dropdown-toggle {
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dropdown:focus, .dropdown:active {
    outline: transparent;
}

.dropdown-menu {
    font-size: inherit;
}






.menu{
    height: 4rem;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 1px -2px $color-grey-dark-1;

    &__btn {
        display: none;
        border: none;
        border-radius: 0;
        background-color: $color-grey-dark-1;
        height: 3px;
        width: 2.8rem;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: 1.6rem;

        &::before, &::after {
            content: '';
            display: block;
            background-color: $color-grey-dark-1;
            height: 3px;
            width: 2.8rem;
        }

        &::before {
            transform: translateY(1rem);
        }

        &::after {
            transform: translateY(-1.3rem);
        }

        @media only screen and (max-width: 900px) {
           display: block;
        }
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &  > ul{
        display: flex;
        gap: 7rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    & > ul > li {
        @media only screen and (max-width: 900px) {
            display: none;
         }
    }

    & > ul > li > .menu-head{
        text-decoration: none;
        padding: 0 1.2rem;
        line-height: 4rem;
        display: block;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: bold;
        font-family: inherit;
        color: $color-grey-dark-1;
    }

    & > ul > li > .menu-head:hover{
        color: $color-primary;
    }


    & > ul > li  > ul{
        position: absolute;
        background-color: lighten(#faeaea, 3%);
        padding: 1.2rem;
        flex-wrap: wrap;
        gap: 2.4rem;
        max-width: 45rem;
        display: none;
    }

    & > ul > li:hover > ul{
        display: flex;
    }

    & > ul > li  > ul > li .menu-item{
        width: 12rem;
        padding: .4rem;
        line-height: 2rem;
        text-decoration: none;
        display: block;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: inherit;
        color: $color-grey-dark-2;
        transition: all .2s;
    }

    & > ul > li  > ul > li .menu-item:hover {
        transform: translateX(.5rem) scale(1.03);
    }

    & > ul > li  > ul > li > .menu-item{
        padding: .4rem;
        border-bottom: 1px solid $color-grey-dark-1;
        line-height: 2rem;
        text-decoration: none;
        display: block;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: inherit;
        color: $color-grey-dark-2;
    }

    & > ul > li  > ul > li:hover > .menu-item {
        color: $color-primary;
    }
    
}