header {
    background-color: $color-grey-light-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    .logo {
        width: 15rem;
        margin-left: 5rem;
    }
}

.search {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        width: 90%;
        border: none;
        border-radius: 50px;
        padding: .7rem 2rem;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        transition: all .2s;
        margin-right: -3rem;
        // background-color: ;

        &:focus {
            outline: none;
            width: 100%
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            font-size: 1.6rem;
            color: $color-grey-light-4;
        }
    }

    &__button {
        border: none;
        background-color: #fff;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        font-size: 1.5rem;
        color: $color-grey-dark-3
    }
}

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 5rem;
    font-size: 1.6rem;
    position: relative;

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        gap: 3.2rem;
        align-items: center;
        

        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
        }

        & > *:hover {
            background-color: $color-grey-dark-3;
        }
    }

    &__link:link, &__link:visited {
        align-self: stretch;
        display: inline-block;
        text-decoration: none;
        color: $color-grey-dark-1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
    }

    &__icon {
        font-size: 2.2rem;
        color: $color-primary;
    }

    
    &__notification {
        background-color: #fff;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 3rem;
        top: .5rem;
    }
}
