.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem;
    background-color: darken($color: #fff, $amount: 5);
    
    
    &__icon-social {
        font-size: 2rem;
        color: $color-grey-dark-1;
    }

    &__icon {
        font-size: 1.4rem;
    }

    &__text {
        font-size: 1.4rem;
    }

    &__contact {
        display: flex;

        @media only screen and (max-width: 30em) {
            display: none;
        }
    }

    &__shipping {
        @media only screen and (max-width: 30em) {
            width: 90%;
            margin: auto;
            text-align: center;
        }
    }
}

@keyframes my-animation {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
}

header {
    // background-color: $color-grey-light-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;

    @media only screen and (max-width: 56em) {
        flex-wrap: wrap;
        height: 19rem;
        align-content: space-around;
        justify-content: space-around;
    }

    @media only screen and (max-width: 56em) {
        height: 24rem;
    }

    .logo {
        width: 12rem;
        margin-left: 5rem;

        @media only screen and (max-width: 75em) {
            margin-left: 2rem;
        }

        @media only screen and (max-width: 56em) {
            margin-left: 0;
        }
    }

    .avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media only screen and (max-width: 75em) {
        flex: 0 0 42%;
    }

    @media only screen and (max-width: 56em) {
        order: 1;
        flex: 0 0 75%;
        justify-self: flex-end;
    }

    &__input {
        width: 95%;
        border: 1px solid $color-grey-dark-3;
        border-radius: 50px;
        padding: .7rem 2rem;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        transition: all .2s;
        margin-right: -3rem;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            font-size: 1.6rem;
            letter-spacing: 2px;
            color: $color-grey-light-4;
        }
    }

    &__button {
        border: none;
        background-color: #fff;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        font-size: 1.5rem;
        color: $color-grey-dark-3
    }

    &__result {
        position: absolute;
        top: 4.2rem;
        background-color: $color-primary-light;
        border-radius: 3px;
        width: 90%;
        padding: 1.2rem;
        z-index: 10;

        &__btn {
            width: 100%;
            border: none;
            background-color: transparent;
        }
    }
}

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 5rem;
    font-size: 1.6rem;
    position: relative;

    @media only screen and (max-width: 75em) {
        margin-right: 2rem;
    }

    @media only screen and (max-width: 56em) {
        margin-right: 0;
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        // gap: 1rem;
        align-items: center;
    
        @media only screen and (max-width: 75em) {
            gap: 0rem;
        }

        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__link:link, &__link:visited {
        align-self: stretch;
        display: inline-block;
        text-decoration: none;
        color: $color-grey-dark-1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
    }

    &__icon {
        font-size: 2.2rem;
        color: $color-primary;
    }

    
    &__notification {
        background-color: #fff;
        width: 2.2rem;
        height: 2.2rem;
        border: 2px solid darken($color: #fff, $amount: 5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 5.5rem;
        top: 2.8rem;
        font-size: 1.4rem;
    }
}

.dropdown-toggle {
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dropdown:focus, .dropdown:active {
    outline: transparent;
}

.dropdown-menu {
    font-size: inherit;
}

