.menu{
    height: 4rem;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 1px -2px $color-grey-dark-1;

    &__btn {
        display: none;
        border: none;
        border-radius: 0;
        background-color: $color-grey-dark-1;
        height: 3px;
        width: 2.8rem;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: 1.6rem;

        &::before, &::after {
            content: '';
            display: block;
            background-color: $color-grey-dark-1;
            height: 3px;
            width: 2.8rem;
        }

        &::before {
            transform: translateY(1rem);
        }

        &::after {
            transform: translateY(-1.3rem);
        }

        @media only screen and (max-width: 900px) {
           display: block;
        }
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &  > ul{
        display: flex;
        gap: 7rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    & > ul > li {
        @media only screen and (max-width: 900px) {
            display: none;
         }
    }

    & > ul > li > .menu-head{
        text-decoration: none;
        padding: 0 1.2rem;
        line-height: 4rem;
        display: block;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: inherit;
        color: $color-grey-dark-1;
    }

    & > ul > li > .menu-head:hover{
        color: $color-primary;
    }


    & > ul > li  > ul{
        position: absolute;
        background-color: lighten(#faeaea, 3%);
        padding: 1.2rem;
        flex-wrap: wrap;
        gap: 2.4rem;
        max-width: 45rem;
        display: none;
        z-index: 5;
    }

    & > ul > li:hover > ul{
        display: flex;
    }

    & > ul > li  > ul > li .menu-item{
        width: 12rem;
        padding: .4rem;
        line-height: 2rem;
        text-decoration: none;
        display: block;
        cursor: pointer;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: inherit;
        color: $color-grey-dark-2;
        transition: all .2s;
    }

    & > ul > li  > ul > li .menu-item:hover {
        transform: translateX(.5rem) scale(1.03);
    }

    & > ul > li  > ul > li > .menu-item{
        padding: .4rem;
        border-bottom: 1px solid $color-grey-dark-1;
        line-height: 2rem;
        text-decoration: none;
        display: block;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: inherit;
        color: $color-grey-dark-2;
    }

    & > ul > li  > ul > li:hover > .menu-item {
        color: $color-primary;
    }
    
}