.navbar .navigation{
    height: 4rem;
    width: 100%;
    background-color: $color-primary-light;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 1px -2px $color-grey-dark-1;

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &  > ul{
        display: flex;
        gap: 7rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    & > ul > li > .navigation-head{
        text-decoration: none;
        padding: 0 1.2rem;
        line-height: 4rem;
        display: block;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: inherit;
        color: $color-grey-dark-1;

        &:hover{
            color: $color-primary;
        }
    }

    & > ul > li  > ul{
        position: absolute;
        background-color: $color-primary-light;
        padding: 1.2rem;
        flex-wrap: wrap;
        gap: 2.4rem;
        max-width: 45rem;
        display: none;
        z-index: 5;
    }

    & > ul > li:hover > ul{
        display: flex;
    }

    & > ul > li  > ul > li .navigation-item{
        width: 12rem;
        padding: .4rem;
        line-height: 2rem;
        text-decoration: none;
        display: block;
        cursor: pointer;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: inherit;
        color: $color-grey-dark-2;
        transition: all .2s;

        &:hover {
            transform: translateX(.5rem) scale(1.03);
        }
    }

    & > ul > li  > ul > li > .navigation-item{
        border-bottom: 1px solid $color-grey-dark-1;
        font-size: 1.4rem;
    }

    & > ul > li  > ul > li:hover > .navigation-item {
        color: $color-primary;
    }
}

.navbar .mobileNavigation {
    display: none;   
}

@media only screen and (max-width: 56em) {
    .navbar {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        z-index: 2;
        top: -1rem;
        padding-bottom: 4.8rem;
    }

    .navbar-open {
        background-image: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6));
    }

    .navbar .navigation {
        display: none;
    }

    .navbar .mobileNavigation {
        display: flex;
        z-index: 15;

        &__hamburger {
            border: none;
            background-color: transparent;
            font-size: 3.6rem;
            padding: 0 1.2rem;
            margin-left: 1.2rem;
            position: absolute;
            top: 28.5%;
            left: 1%;

            @media only screen and (max-width: 38em) {
                left: 0%;
            }
        }

        &__close {
            position: absolute;
            font-size: 3.6rem;
            border: none;
            background-color: transparent;
            left: 33%;
            top: 1%;
            color: $color-grey-dark-2;
            z-index: 3;

            @media only screen and (max-width: 44em) {
                left: 43%;
            }

            @media only screen and (max-width: 38em) {
                left: 52%;
            }

            @media only screen and (max-width: 32em) {
                left: 90%;
            }
        }

        ul{
            padding: 0;
            margin: 0;
            list-style: none;
        }

        &  > ul{
            position: absolute;
            top: 0%;
            width: 40%;
            height: 100%;
            background-color: $color-primary-light;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 4.8rem;
            
            @media only screen and (max-width: 44em) {
                width: 50%;
            }

            @media only screen and (max-width: 38em) {
                width: 60%;
            }

            @media only screen and (max-width: 32em) {
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }

        & > ul > li > .mobileNavigation-head{
            text-decoration: none;
            line-height: 4rem;
            display: block;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 2px;
            font-family: inherit;
            color: $color-grey-dark-1;
            transition: all .2s;

            &:hover{
                color: $color-primary;
                transform: translateX(.5rem) scale(1.03);
            }

            @media only screen and (max-width: 32em) {
                border: 2px solid $color-grey-light-4;
                padding: 0 2.4rem;
            }
        }

        & > ul > li > ul{
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            padding: 0 1.2rem;

            @media only screen and (max-width: 32em) {
                padding: 0;
                justify-content: center;
                align-items: center;
                list-style-type: square;
            }
        }

        & > ul > li  > ul > li .mobileNavigation-item{
            padding: 0 2.4rem;
            line-height: 2rem;
            text-decoration: none;
            display: block;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            font-family: inherit;
            color: $color-grey-dark-2;
            transition: all .2s;
    
            &:hover {
                transform: translateX(.5rem) scale(1.03);
            }

            @media only screen and (max-width: 32em) {
                padding: 0;
            }
        }

        & > ul > li  > ul > li > .mobileNavigation-item{
            font-size: 1.6rem;
            padding: .4rem;
            font-weight: 500;

            @media only screen and (max-width: 32em) {
                padding: .4rem 0;
                border-bottom: 1px solid $color-grey-light-4;
            }
        }
    
        & > ul > li  > ul > li:hover > .mobileNavigation-item {
            color: $color-primary;
        }
    }
}