@import 'base/base';
@import 'base/mixins';
@import 'base/typography';
@import 'base/variables';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/loader';

@import 'components/form_card';
@import 'components/login-register';
@import 'components/dashboard-sidebar';
@import 'components/updateProduct';
@import 'components/order';
@import 'components/statistics';
