*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
}

header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
header .logo {
  width: 15rem;
  margin-left: 5rem;
}

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  width: 90%;
  border: none;
  border-radius: 50px;
  padding: 0.7rem 2rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  font-size: 1.6rem;
  color: #ccc;
}
.search__button {
  border: none;
  background-color: #fff;
}
.search__button:focus {
  outline: none;
}
.search__icon {
  font-size: 1.5rem;
  color: #999;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  font-size: 1.6rem;
  position: relative;
}
.user-nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.user-nav__list > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav__list > *:hover {
  background-color: #999;
}
.user-nav__link:link, .user-nav__link:visited {
  align-self: stretch;
  display: inline-block;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.user-nav__icon {
  font-size: 2.2rem;
  color: #c92a2a;
}
.user-nav__notification {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #c92a2a;
  border-color: #c92a2a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/sidiBou.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 6rem);
}
.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.login__wrapper form {
  padding: 2.5rem 3rem;
}
.login__col {
  box-shadow: 0.2rem 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.7);
}
.login__title {
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  padding: 1.6rem;
}
.login__button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: #c92a2a;
  border-color: #c92a2a;
  margin-top: 6.4rem;
}
.login input {
  font-size: inherit;
}

.register {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/street.jpeg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 6rem);
}
.register input {
  font-size: inherit;
}