*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.wrapper form {
  padding: 2.5rem 3rem;
}

form {
  font-size: 1.6rem;
}

header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
header .logo {
  width: 15rem;
  margin-left: 5rem;
}
header .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  width: 90%;
  border: none;
  border-radius: 50px;
  padding: 0.7rem 2rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  font-size: 1.6rem;
  color: #ccc;
}
.search__button {
  border: none;
  background-color: #fff;
}
.search__button:focus {
  outline: none;
}
.search__icon {
  font-size: 1.5rem;
  color: #999;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  font-size: 1.6rem;
  position: relative;
}
.user-nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.user-nav__list > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav__link:link, .user-nav__link:visited {
  align-self: stretch;
  display: inline-block;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.user-nav__icon {
  font-size: 2.2rem;
  color: #c92a2a;
}
.user-nav__notification {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
}

.dropdown-toggle {
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dropdown:focus, .dropdown:active {
  outline: transparent;
}

.dropdown-menu {
  font-size: inherit;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #c92a2a;
  border-color: #c92a2a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.wrapper form {
  padding: 2.5rem 3rem;
}
.wrapper__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid #000;
  padding: 1.6rem;
}
.wrapper__button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1.4px;
  background-color: #c92a2a;
  border-color: #c92a2a;
}
.wrapper input, .wrapper select {
  font-size: inherit;
}

.login {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/sidiBou.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 6rem);
}
.login__col {
  box-shadow: 0.2rem 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.register {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/street.jpeg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 6rem);
}
.register__wrapper {
  padding-top: 2rem;
}
.register__avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.sidebar__link:link, .sidebar__link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #eee;
  padding: 1.6rem;
  display: block;
}
.sidebar__link:link:hover, .sidebar__link:visited:hover {
  background-color: #eee;
  color: #333;
}

.dashboard__title {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.8rem 0;
}
.dashboard .card-body {
  font-size: 2.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 2.8rem;
}
.dashboard .card-footer {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.2rem;
}

.image {
  position: relative;
}
.image__delete {
  position: absolute;
  left: 4.6rem;
}

.order {
  font-size: 1.6rem;
}
.order__title {
  color: #c92a2a;
  font-size: 3.2rem;
  font-weight: 600;
}
.order__subTitle {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 500;
}

.order_button {
  font-size: 2rem;
  background-color: #c92a2a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0.8rem 5.2rem;
  margin-bottom: 2.4rem;
}

.statistics__title {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.statistics__amount {
  margin-bottom: 6.4rem;
}
.statistics .card-body {
  font-size: 2.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 1.6rem;
}
.statistics .card-footer {
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem;
}
.statistics .today {
  background-color: #c92a2a;
}
.statistics .yesterday {
  background-color: #d45555;
}
.statistics .week {
  background-color: #eb984e;
}
.statistics .month {
  background-color: #e67e22;
}
.statistics .allTime {
  background-color: #555;
}