*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-family: "Oswald", sans-serif;
  color: #333;
  letter-spacing: 1px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.wrapper form {
  padding: 2.5rem 3rem;
}

form {
  font-size: 1.6rem;
}

header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
header .logo {
  width: 15rem;
  margin-left: 5rem;
}
header .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search__input {
  width: 95%;
  border: none;
  border-radius: 50px;
  padding: 0.7rem 2rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: #ccc;
}
.search__button {
  border: none;
  background-color: #fff;
}
.search__button:focus {
  outline: none;
}
.search__icon {
  font-size: 1.5rem;
  color: #999;
}
.search__result {
  position: absolute;
  top: 4.2rem;
  background-color: #fdf5f5;
  border-radius: 3px;
  width: 90%;
  padding: 1.2rem;
  z-index: 10;
}
.search__result__btn {
  width: 100%;
  border: none;
  background-color: transparent;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  font-size: 1.6rem;
  position: relative;
}
.user-nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.user-nav__list > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav__link:link, .user-nav__link:visited {
  align-self: stretch;
  display: inline-block;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.user-nav__icon {
  font-size: 2.2rem;
  color: #c92a2a;
}
.user-nav__notification {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
}

.dropdown-toggle {
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dropdown:focus, .dropdown:active {
  outline: transparent;
}

.dropdown-menu {
  font-size: inherit;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #c92a2a;
  border-color: #c92a2a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  height: 4rem;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 1px 1px -2px #333;
}
.menu__btn {
  display: none;
  border: none;
  border-radius: 0;
  background-color: #333;
  height: 3px;
  width: 2.8rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: 1.6rem;
}
.menu__btn::before, .menu__btn::after {
  content: "";
  display: block;
  background-color: #333;
  height: 3px;
  width: 2.8rem;
}
.menu__btn::before {
  transform: translateY(1rem);
}
.menu__btn::after {
  transform: translateY(-1.3rem);
}
@media only screen and (max-width: 900px) {
  .menu__btn {
    display: block;
  }
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu > ul {
  display: flex;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .menu > ul > li {
    display: none;
  }
}
.menu > ul > li > .menu-head {
  text-decoration: none;
  padding: 0 1.2rem;
  line-height: 4rem;
  display: block;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: inherit;
  color: #333;
}
.menu > ul > li > .menu-head:hover {
  color: #c92a2a;
}
.menu > ul > li > ul {
  position: absolute;
  background-color: #fdf5f5;
  padding: 1.2rem;
  flex-wrap: wrap;
  gap: 2.4rem;
  max-width: 45rem;
  display: none;
  z-index: 5;
}
.menu > ul > li:hover > ul {
  display: flex;
}
.menu > ul > li > ul > li .menu-item {
  width: 12rem;
  padding: 0.4rem;
  line-height: 2rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: inherit;
  color: #555;
  transition: all 0.2s;
}
.menu > ul > li > ul > li .menu-item:hover {
  transform: translateX(0.5rem) scale(1.03);
}
.menu > ul > li > ul > li > .menu-item {
  padding: 0.4rem;
  border-bottom: 1px solid #333;
  line-height: 2rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  color: #555;
}
.menu > ul > li > ul > li:hover > .menu-item {
  color: #c92a2a;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.wrapper form {
  padding: 2.5rem 3rem;
}
.wrapper__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid #000;
  padding: 1.6rem;
}
.wrapper__button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1.4px;
  background-color: #c92a2a;
  border-color: #c92a2a;
}
.wrapper input, .wrapper select {
  font-size: inherit;
}

.login {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/sidiBou.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 6rem);
}
.login__col {
  box-shadow: 0.2rem 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.register {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/street.jpeg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 6rem);
}
.register__wrapper {
  padding-top: 2rem;
}
.register__avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.sidebar__link:link, .sidebar__link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #eee;
  padding: 1.6rem;
  display: block;
}
.sidebar__link:link:hover, .sidebar__link:visited:hover {
  background-color: #eee;
  color: #333;
}

.dashboard__title {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.8rem 0;
}
.dashboard .card-body {
  font-size: 2.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 2.8rem;
}
.dashboard .card-footer {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.2rem;
}

.image {
  position: relative;
}
.image__delete {
  position: absolute;
  left: 4.6rem;
}

.text-area {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.order {
  font-size: 1.6rem;
}
.order__title {
  color: #c92a2a;
  font-size: 3.2rem;
  font-weight: 600;
}
.order__subTitle {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 500;
}

.order_button {
  font-size: 2rem;
  background-color: #c92a2a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0.8rem 5.2rem;
  margin-bottom: 2.4rem;
}

.statistics__title {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.statistics__amount {
  margin-bottom: 6.4rem;
}
.statistics .card-body {
  font-size: 2.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 1.6rem;
}
.statistics .card-footer {
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem;
}
.statistics .today {
  background-color: #c92a2a;
}
.statistics .yesterday {
  background-color: #d45555;
}
.statistics .week {
  background-color: #eb984e;
}
.statistics .month {
  background-color: #e67e22;
}
.statistics .allTime {
  background-color: #555;
}

.result-text {
  padding: 2.4rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  justify-content: center;
  gap: 5rem;
  padding: 2.4rem;
}

.product-cart {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0.8rem 0.8rem rgba(51, 51, 51, 0.1);
  position: relative;
}
.product-cart__img-container {
  position: relative;
}
.product-cart__img {
  width: 100%;
  height: 32rem;
  transition: all 0.3s;
}
.product-cart__img:hover {
  transform: scale(1.05);
}
.product-cart__view {
  display: none;
  position: absolute;
  top: 14rem;
  background-color: #f0eeee;
  opacity: 0.8;
  color: #c92a2a;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 5;
}
.product-cart__img-container:hover .product-cart__view {
  display: block;
}
.product-cart__category {
  color: #999;
  text-transform: uppercase;
}
.product-cart__title {
  text-decoration: none;
  color: inherit;
}
.product-cart__title:hover {
  color: inherit;
}
.product-cart__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-cart__price {
  font-size: 1.8rem;
}
.product-cart__sale {
  font-size: 1.4rem;
  color: #c92a2a;
}
.product-cart__prev-price {
  font-size: 1.4rem;
  text-decoration: line-through;
}
.product-cart__button {
  font-size: 1.6rem;
  width: 100%;
  border: none;
  background-color: #333;
  color: #eee;
  padding: 1rem 0;
}
.product-cart__promo {
  position: absolute;
  top: 0.8rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: #c92a2a;
  color: #eee;
  padding: 0 0.4rem;
}

.product {
  display: flex;
  justify-content: space-around;
  margin-top: 3.8rem;
  font-size: 1.4rem;
}
.product__main-img {
  width: 100%;
}
.product__img {
  width: 100%;
  margin-bottom: 1.2rem;
  opacity: 0.7;
  overflow: hidden;
  transition: all 0.3s;
}
.product__img:hover {
  transform: scale(1.03);
}
.product__title {
  font-size: 2.8rem;
}
.product__id {
  font-size: 1rem;
}
.product__description {
  font-size: 1.6rem;
}
.product__price {
  font-size: 2.4rem;
}
.product__color-container, .product__size-container {
  display: flex;
  gap: 0.6rem;
}
.product__color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.product__size {
  border: 1px solid #ccc;
  padding: 0.2rem 0.6rem;
}
.product__add-container {
  margin-top: 3.2rem;
  display: flex;
  gap: 2rem;
}
.product__qty-container {
  flex: 1;
  display: flex;
  gap: 0.6rem;
}
.product__btn {
  background-color: transparent;
  color: #333;
  border: 2px solid #ccc;
  padding: 0.4rem 1.6rem;
}
.product__qty {
  font-size: 1.8rem;
}
.product__add-btn {
  flex: 2;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #c92a2a;
  border: none;
  padding: 1.2rem 3.6rem;
}