.cart {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;

    @media only screen and (max-width: 75em) {
        flex-direction: column;
    }

    &__container {
        width: 69%;
       
        @media only screen and (max-width: 75em) {  //1200px
            width: 90%;
            margin: 0 auto;
        }

        @media only screen and (max-width: 52em) {
            width: 95%;
            margin: 0 auto;
        }
    }

    &__order, &__order-title {
        width: 80%;
        margin: 0 auto;

        @media only screen and (max-width: 75em) {  //1200px
            width: 90%;
            margin: 0 auto;
        }

        @media only screen and (max-width: 52em) {
            width: 95%;
            margin: 0 auto;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 10rem 28% 10% 10% 30% 10%;
        position: relative;

        @media only screen and (max-width: 56em) {
            grid-template-columns: 15rem 1fr;
            grid-template-rows:  repeat(5, min-content);
            column-gap: 2.4rem;
        }
    }


    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__label {
        display: none;

        @media only screen and (max-width: 56em) {
           display: inline-block;
           font-size: 1.4rem;
           text-transform: lowercase;
           margin-right: 1.2rem;
        } 
    }

    &__name {
        text-decoration: none;
        color: $color-grey-dark-1;
        font-size: 1.8rem;

        &:hover {
            color: $color-grey-dark-1;
        }

        @media only screen and (max-width: 56em) {
            font-size: 2.4rem;
        } 
    }

    &__color, &__size {
        font-size: 1.4rem;
        text-transform: uppercase;
        
    }

    &__color {
        @media only screen and (max-width: 56em) {
            margin-top: 1.2rem;
        } 
    }

    &__price {
        font-size: 1.8rem;
    }

    &__qty-container{
        display: flex;
        gap: .5rem;
    }

    &__btn{
        border: 2px solid $color-grey-light-4;
        background-color: transparent;
        padding: 0 .5rem;
    }

    &__qty{
        max-width: 3rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__delete {
        position: absolute;
        color: $color-grey-dark-3;
        font-size: 1.6rem;
        left: 101%;
        top: -6%;

        &:hover {
            color: $color-primary;
        }

        @media only screen and (max-width: 56em) {
            left: 95%;
            top: 2%;
        }
    }

    &__summary {
        width: 26%;
        border: 2px solid $color-grey-light-4;
        padding: 1.6rem;
        align-self: flex-start;

        @media only screen and (max-width: 75em) {
            width: 90%;
            margin: auto;
            margin-top: 3.2rem;
        }
    }

    &__order-summary {
        width: 80%;
        margin: 3.8rem auto;
    }

    &__summary-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__summary-saleValue {
        color: $color-primary;
        font-size: 1.6rem;
    }

    &__summary-afterSaleValue, &__summary-totalValue {
        font-weight: 600;
    }

    &__coupon {
        background-color: $color-grey-light-3;
        padding: 1.6rem;
    }

    &__input-sale {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    &__btn-sale {
        font-size: 1.4rem;
        border: none;
        width: 50%;
        padding: .6rem;
        margin-left: .5rem;
    }

    &__btn-order {
        width: 100%;
        border: none;
        background-color: $color-primary;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: .8rem;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__btn-shopBack {
        border: none;
        background-color: $color-primary;
        font-size: 1.8rem;
        padding: .4rem 2.4rem;
        margin-top: 1.8rem;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 56em) {
        justify-content: flex-start;
        padding: 0 4.6rem;
    }
}

@media only screen and (max-width: 75em) {
    .cart-title {
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 56em) {  //896px

    .cart {
        &__head {
            display: none;
        }

        &__img-container {
            grid-row: 1 / 6;
        }
    
        &__name-container {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            border-bottom: 1px solid $color-grey-light-4;
        }

        &__color-container {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        &__size-container {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }

        &__price-container {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }

        &__qty-container-1 {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }
    } 
}
