.result-text {
    padding: 2.4rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    justify-content: center;
    gap: 5rem;

    padding: 2.4rem;
}

.product-cart {

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 .8rem .8rem rgba($color-grey-dark-1, 0.1);
    position: relative;

    &__img-container {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 32rem;
        transition: all .3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__view {
        display: none;
        position: absolute;
        top: 14rem;
        background-color: $color-grey-light-3;
        opacity: 0.8;
        color: $color-primary;
        width: 100%;
        padding: .8rem;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 5;
    }

    &__img-container:hover &__view {
        display: block;
    }

    &__category {
        color: $color-grey-dark-3;
        text-transform: uppercase;
    }

    &__title {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    &__price-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 1.8rem;
    }

    &__sale {
        font-size: 1.4rem;
        color: $color-primary;
    }

    &__prev-price {
        font-size: 1.4rem;
        text-decoration: line-through;
    }

    &__button {
        font-size: 1.6rem;
        width: 100%;
        border: none;
        background-color: $color-grey-dark-1;
        color: $color-grey-light-1;
        padding: 1rem 0;
    }

    &__promo {
        position: absolute;
        top: .8rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 2px;
        background-color: $color-primary;
        color: $color-grey-light-1;
        padding: 0 .4rem;
    }
}