.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-weight: 700;
    font-size: 1.6rem;

    form {
        padding: 2.5rem 3rem;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 3px solid #000;
        padding: 1.6rem;
        
    }
    
    &__button {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 2px;
        background-color: $color-primary;
        border-color: $color-primary;
    }
    
    input, select {
        font-size: inherit;
    }

}


