.slider {
    position: relative;

    &__btn-left, &__btn-right {
        border: none;
        background-color: $color-grey-light-4;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1.6rem;
        transition: all .2s;
        box-shadow: 0 .4rem .8rem  rgba(0, 0, 0, .2);
        z-index: 2;
        position: absolute;
        top: 30%;
    }

    &__btn-left {
        left: -2%;
        &:hover {
            transform: translateX(-3px) scale(1.05);
        }
    }

    &__btn-right {
        left: 99%;
        &:hover {
            transform: translateX(3px) scale(1.05);
        }
    }

    .slick-slide > div {
        margin: 0 1.6rem;
    }
    .slick-list {
        margin: 0 -1.6rem;
    }
}

.main-slide {
    height: 80vh;
}

.item-1 {
    position: relative;
}

.caption-1 {
    position: absolute;
    top: 55%;
}

.slide-img {
    opacity: .8;
}

.pad {
    padding: 7.4rem 6.4rem 9.8rem 6.4rem;
}

.new {
    margin-top: 4.8rem;
    background-image: linear-gradient(to right, darkkhaki, darkkhaki);
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 98vh, 0 100% );
    clip-path: polygon(0 0, 100% 0, 100% 98vh, 0 100% );

    &__img {
        position: absolute;
    }

    &__img--1 {
        top: 3%;
        left: 80%;
        transform: rotate(45deg);
    }

    &__img--2 {
        top: 3%;
        left: 50%;
        transform: rotate(45deg);
    }
}

.promo {
    background-color: #ca6624;
    -webkit-clip-path: polygon(0 0, 100% 12vh, 100% 100%, 0 100% );
    clip-path: polygon(0 0, 100% 12vh, 100% 100%, 0 100% );
}