.login {
    background-image: linear-gradient(to right,rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/sidiBou.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 6rem);

    &__col {
        box-shadow: .2rem .1rem 1.2rem .2rem rgba(0,0,0,0.7);
    }
}


.register {
    background-image: linear-gradient(to right,rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../images/street.jpeg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 6rem);

    &__wrapper {
        padding-top: 2rem;
    }

    &__avatar {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }
}
