.order {
    font-size: 1.6rem;

    &__title {
        color: $color-primary;
        font-size: 3.2rem;
        font-weight: 600;
        margin-right: 5.4rem;
    }

    &__date {
        font-size: 2.2rem;
        padding: 0 .8rem;
    }

    &__subTitle {
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 500;
    } 

    &__cart {
        border: 2px solid $color-grey-light-4;
        border-radius: 3px;
        padding: 3.2rem;
        width: 97%;
        margin: 0 auto;
    }

    &__item {
        position: relative;
    }

    &__delete {
        border: none;
        background-color: transparent;
        position: absolute;
        left: 98%;
        top: 35%;
        color: $color-grey-dark-3;

        &:hover {
            color: $color-primary;
        }
    }

    &__button {
        font-size: 1.8rem;
        background-color: $color-grey-dark-2;
        color: $color-grey-light-1;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        padding: .8rem 5.2rem;
        transition: all .2s;

        &:hover {
            color: $color-grey-light-1;
            transform: scale(1.05);
        }
    }

    &__status {
        width: 130%;
        letter-spacing: 2px;
        font-size: 1.8rem;
    }
}

.steps {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    padding: 4.8rem 6.4rem;

    &__step {
        flex: 1;
        text-align: center;
        font-size: 1.4rem;
    }

    &__1 {
        span {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 1px solid $color-grey-light-4;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        // column-gap: 1.5rem ;
        align-items: center;

        &::before, &::after {
            content: "";
            display: block;
            height: 2px;
            background-color: $color-grey-light-4;
        }
    }

    &__active {
        span {
            border: 2px solid $color-primary;
            background-color: $color-primary;
            color: $color-grey-light-1;
        }

        &::before, &::after {
            background-color: $color-primary;
        }
    }
}


.shipping {
    padding: 0 6.4rem;
    display: flex;
    justify-content: center;

    input {
        height: 4rem;
        font-size: 1.6rem;
        color: $color-grey-dark-2;
    }
}

.info {
    padding: 0 6.4rem;
    display: flex;
    justify-content: space-around;
    
    &__box {
        border: 1px solid $color-grey-light-4;
        border-radius: 3px;
        padding: 1.8rem;
    }

    &__items {
        font-size: 1.6rem;
        display: flex;
        gap: 1.2rem;
    }

    &__item-1 {
        color: $color-grey-dark-2;
        font-weight: 300;
    }

    &__item-2 {
        flex: 1;
    }

    &__item-3 {
        color: $color-primary;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }
}