.order {
    font-size: 1.6rem;

    &__title {
        color: $color-primary;
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__subTitle {
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 500;
    } 
}

.order_button {
    font-size: 2rem;
    background-color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: .8rem 5.2rem;
    margin-bottom: 2.4rem;
}



.steps {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    padding: 4.8rem 6.4rem;

    &__step {
        flex: 1;
        text-align: center;
        font-size: 1.4rem;
    }

    &__1 {
        span {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 1px solid $color-grey-light-4;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        // column-gap: 1.5rem ;
        align-items: center;

        &::before, &::after {
            content: "";
            display: block;
            height: 2px;
            background-color: $color-grey-light-4;
        }
    }

    &__active {
        span {
            border: 2px solid $color-primary;
            background-color: $color-primary;
            color: $color-grey-light-1;
        }

        &::before, &::after {
            background-color: $color-primary;
        }
    }
}


.shipping {
    padding: 0 6.4rem;
    display: flex;
    justify-content: center;

    input {
        height: 4rem;
        font-size: 1.6rem;
        color: $color-grey-dark-2;
    }
}