.order {
    font-size: 1.6rem;

    &__title {
        color: $color-primary;
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__subTitle {
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 500;
    } 
}

.order_button {
    font-size: 2rem;
    background-color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: .8rem 5.2rem;
    margin-bottom: 2.4rem;
}