.product {
    display: flex;
    justify-content: space-around;
    margin-top: 4.6rem;
    margin-bottom: 8.2rem;
    font-size: 1.4rem;

    &__main-img {
       width: 100%;
    }

    &__img {
        width: 100%;
        margin-bottom: 1.2rem;
        opacity: .7;
        overflow: hidden;
        transition: all .3s;
    }

    &__activeImg {
        opacity: 1;
    }

    &__img:hover {
        transform: scale(1.03)
    }

    &__title {
        font-size: 2.8rem;
    }

    &__id {
        font-size: 1rem;
    }

    &__description {
        font-size: 1.6rem;
    }

    &__price-container {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-bottom: 2.4rem;
    }

    &__price {
        font-size: 2.4rem;
    }

    &__color-container, &__size-container {
        display: flex;
        gap: .6rem;
    }

    &__color {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid $color-grey-light-4;
    }

    &__activeColor {
        border: 2px solid $color-grey-dark-1;
    }

    &__size-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__size {
       padding: .2rem .6rem;
    }

    &__outOfStock {
        border: 1px solid $color-grey-light-4;
    }


    &__inStock {
        border: 1px solid $color-grey-dark-1;
        transition: all .2s;
    }

    &__inStock:hover {
        background-color: $color-grey-dark-1;
        color: $color-grey-light-1;
        transform: scale(1.08)
    }

    &__activeSize {
        background-color: $color-grey-dark-1;
        color: $color-grey-light-1;
    }

    &__add-container {
        margin-top: 3.2rem;
        margin-bottom: 2.4rem;
        display: flex;
        gap: 2rem;
    }

    &__qty-container {
        flex: 1;
        display: flex;
        gap: .6rem;
    }

    &__btn {
        background-color: transparent;
        color: $color-grey-dark-1;
        border: 2px solid $color-grey-light-4;
        padding: .4rem 1.6rem;
    }

    &__qty {
        font-size: 1.8rem;
        text-align: center;
        min-width: 4rem;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__add-btn {
        flex: 2;
        font-size: 2rem;
        text-transform: uppercase;
        background-color: $color-primary;
        border: none;
        padding: 1.2rem 3.6rem;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

