// -Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    color: $color-grey-dark-1;
    letter-spacing: 1px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-weight: 700;
    font-size: 1.6rem;

    form {
        padding: 2.5rem 3rem;
    }
}

form {
    font-size: 1.6rem;
}

.btn--1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 2px;
    background-color: $color-primary;
    border-color: $color-primary;
    width: 100%;
    padding: .8rem;
    transition: all .2s;

    &:hover {
        transform: scale(1.05);
    }
}