// -Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    line-height: 1.6;
    // background-color: #eee;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-weight: 700;
    font-size: 1.6rem;

    form {
        padding: 2.5rem 3rem;
    }
}

form {
    font-size: 1.6rem;

    input {
        font-size: inherit;
    }
}